# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/

# Ignore IDE settings
.idea/
.vscode/

# Ignore test cache
tests/__pycache__/

# Ignore environment variable files
.env
.env.local
.env.development
.env.production

miniconda.sh
